<style>
    .customsearch {
        height: 30px;
        max-width: 500px;
        width: 300px;
        background: #f4f4f4;
        border-radius: 7px;
    }
</style>
<div class="row">
    <div class="col-sm-2">
        <a href="~/Home/Index">
            <img src="~/Images/logo.jpg" alt="img logo" width="200px" height="100px" style="border-radius:100%;" />
        </a>
    </div>
    <div class="col-sm-4" style="display: flex; justify-content: center; align-items: center;">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            @Html.TextBox("SearchString", "", new { @class = "customsearch" });
            <input type="submit" class="customsearch" value="Search" name="Search" style="width:100px;" />
        }
    </div>
    <div class="col-sm-6">
        <ul class="horizontal_navbar" style="justify-content:center;align-items:center;height:100px;">
            <li class="WrapperEachCate">
                <a class="nav-link" href="~/Home/About">GIỚI THIỆU</a>
            </li>
            <li class="WrapperEachCate">
                <div class="nav-link" href="#" style="display:flex;justify-content:center;align-items:center;">
                    <i class="fa-regular fa-address-book"></i>
                    <a class="nav-link" href="~/Home/Contact" style="margin-left:10px;">LIÊN HỆ</a>
                </div>
            </li>
            <li class="WrapperEachCate">
                @Html.Action("GioHangPartial", "ShoppingCart")
            </li>
            <li class="WrapperEachCate">
                <div class="nav-link" href="#" style="display:flex;justify-content:center;align-items:center;">
                    <i class="fa-solid fa-user"></i>
                    @if (Session["TaiKhoan"] == null)
                    {
                        <div style="margin-left:10px;">
                            <span onclick="Login()">
                                Đăng nhập
                            </span>
                        </div>
                    }
                    else
                    {
                        <div style="margin-left:10px;">
                            <span>
                                Xin chào @Session["TenKH"]
                            </span>
                            <br />
                            <div>
                                <a href="@Url.Action("Logout","Home")">Đăng xuất</a>

                            </div>
                        </div>
                    }
                </div>
            </li>
        </ul>
    </div>
</div>

