@{
    ViewBag.Title = "About";
}
<style>
    #namestore h1{
        position:relative;
        top:100px;
        left:45%;
        z-index:50;
    }
</style>
<div id="namestore">
    <h1>PARTRY SHOP</h1>
    <img src="~/Images/bannerabout.jpg" alt="banner about" width="100%" height="700px"/>
</div>
