@{
    ViewBag.Title = "Contact";
}
<link rel="stylesheet" href="~/Content/Contact.css" />
<div class="contact">
    <div class="row">
        <div class="col-8">
            <h3 style="color: rgb(105,26,29); text-align:center;">Thông tin liên hệ</h3>
            <h3 style="color: rgb(105,26,29); text-align: center;">Cần liên hệ, hãy gửi mail cho chúng tôi</h3>
            <div class="inputreply">
                <input placeholder="Tên" style="width:500px; max-width:700px; padding: 10px; border: 1px solid #ccc; border-radius: 5px; margin-bottom: 10px;" />
                <hr style="margin: 0;">
                <input placeholder="Địa chỉ" style="width:500px; max-width:700px; padding: 10px; border: 1px solid #ccc; border-radius: 5px; margin-bottom: 10px;" />
                <hr style="margin: 0;">
                <textarea placeholder="Nội dung" style="width:500px; height:100px; max-width:700px; padding: 10px; border: 1px solid #ccc; border-radius: 5px; margin-top:10px;"></textarea>
            </div>
            <button style="background-color: #511f00; margin-left: 450px; color: white; font-weight: bold; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">Gửi mail</button>
        </div>
        <div class="col-4">
            <div class="contact-info">
                <h4>ABC Trường Chinh</h4>
                <p>448/4 Trường Chinh, P. Tân Hưng Thuận, Quận 12,</p>
                <p>Tp. Hồ Chí Minh</p>
            </div>
            <div class="contact-info">
                <h4>ABC Trường Chinh</h4>
                <p>448/4 Trường Chinh, P. Tân Hưng Thuận, Quận 12,</p>
                <p>Tp. Hồ Chí Minh</p>
            </div>
            <div class="contact-info">
                <h4>ABC Trường Chinh</h4>
                <p>448/4 Trường Chinh, P. Tân Hưng Thuận, Quận 12,</p>
                <p>Tp. Hồ Chí Minh</p>
            </div>
        </div>
    </div>
</div>
