<link href="~/Content/Homepage.css" rel="stylesheet" />
<div class="WrapperCategories">
    <ul class="horizontal_navbar">
        @foreach (var LOAISANPHAM in Model)
        {
            <a href="@Url.Action("SPTheoLoai","Home",new {id = LOAISANPHAM.MaLoai})" class="WrapperEachCate" style="text-decoration:none;"> 
               @LOAISANPHAM.TenLoai
               </a>
        }
    </ul>
</div>

