.WrapperImgPro {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: white;
    border-radius: 5px;
    overflow: hidden;
}
    .WrapperImgPro img {
        transition: transform .5s ease;
    }
    .WrapperImgPro:hover img{
        transform: scale(1.1);
    }
.RatePro {
    font-size: 15px;
    background: rgb(243, 253, 232);
    border-radius: 4px;
    color: #1c9550;
    padding: 4px 6px;
    font-weight: 500;
    width: fit-content;
}
.ProReview {
    font-size: 15px;
    font-weight: 400;
    color: #000;
    margin-left: 10px;
}
.card {
    background: rgb(255, 229, 229);
    padding: 10px;
    margin-right: 20px;
    height: 400px;
}
.row {
    display: flex;
    flex-wrap: nowrap;
    justify-content:center;
}
.menunavbar {
    position: sticky;
    top: 0;
    z-index: 50;
    background: white;
    padding: 10px 0px 0px 10px;
    box-shadow: 0 3px 5px 0 hsla(0,0%,52.5%,.2) !important;
}
    .menunavbar a {
        color: rgb(105,26,29);
    }

.horizontal_navbar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.WrapperEachCate {
    padding: 15px;
    font-size: 20px;
    color: rgb(105,26,29);
}
    .WrapperEachCate span{
        cursor:pointer;
    }
    .WrapperCategories {
        display: flex;
        justify-content: center;
        align-items: center;
    }
.ButtonChat {
    background: #da1a32;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    position:fixed;
    right:10px;
    bottom: 20px;
    padding:18px 20px 15px 15px;
}
.card-body a {
    color:black;
    text-decoration: none;
}
.WrapperFooter {
    margin-top:20px;
    background: #fff8ef;
    border-top: 2px solid #ffecd4;
    border-bottom: 2px solid #ffecd4;
    height: 150px;
    max-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-link {
    display: block;
    padding: 0;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.container-fluid {
    min-height: 538px;
}