
@{
    ViewBag.Title = "DatHangThanhCong";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div style="text-align:center;">
    <h2>Cảm ơn bạn đã đặt hàng, đơn hàng của bạn đã được ghi nhận. Chúng tôi sẽ phản hồi trong thời gian sớm nhất</h2>
    <div>@Html.ActionLink("Về trang chủ", "Index", "Home", null, new { @class = "btn btn-success" })</div>
</div>

